# Virtual environments
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/

# Large FeTS Datasets
MICCAI_FeTS2022_TrainingData
MICCAI_FeTS2022_TrainingData/
MICCAI_FeTS2022_TrainingData/**
MICCAI_FeTS2022_ValidationData
MICCAI_FeTS2022_ValidationData/
MICCAI_FeTS2022_ValidationData/**
*.nii
*.nii.gz

# Artifacts & Checkpoints
artifacts/
artifacts/**
*.pt
*.pth

# Flower cache
.flwr/

